@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Overwatch Hero Data</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What the project is about</h2>
        <p>
           This prototype is the first of the overwatch hero data which is pulling an API and extracting data from it. This version allows you to edit the hero data and display.
           
        </p>
        <p><a class="btn btn-default" href="https://overwatch-api.net/docs/v1">API Data &raquo;</a></p>
    </div>

   
   
</div>